html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    width: 50%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    
    
}

header div {
    width: 100%;
    height: 80px;
    background-color: brown;
    margin-bottom: 10px;
}

header div h2 {
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
    position: relative;
    top: 25px;
}

nav div {
    width: 100%;
    height: 80px;
    background-color: brown;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav div h2 {
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
    position: relative;
    top: 25px;
}

.content {
    width: 60%;
    float: left;
}
section div {
    width: 100%;
    height: 200px;
    background-color: brown;
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

section div h2 {
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
    position: relative;
    top: 80px;
}

article div {
    width: 100%;
    height: 200px;
    background-color: brown;
    margin-top: 10px;
    margin-bottom: 10px;
}


article div h2 {
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
    position: relative;
    top: 80px;
}


.sidebar {
    width: 38.3%;
    height: 410px;
    background-color: brown;
    margin-left: 10px;
    float: left;
    
}

.sidebar aside h2 {
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
    position: relative;
    top: 190px;
}

footer {
    width: 100%;
    height: 80px;
    background-color: brown;
    margin-bottom: 10px;
    float: left;
}

footer div h2 {
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
    position: relative;
    top: 25px;
}









