$primary_font: Playfair;
$secondary_font:Epilogue;
$primary_text_color:white;

@mixin title ($primary) {
    .title {
        font-family: $primary;
    }
}



#accommodations_header {
    height: auto;
    width: 100%;
    .navbar-brand {
        font-family: $primary_font;
        font-weight: 600;
        font-style: italic;
        height: 20%;
        color: $primary_text_color;
        font-size: 30px;
    }
   
    .carousel .carousel-item {
        height: 500px;
    }
    .carousel-item img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        min-height: 500px;
        
    }
}
.breadcrumb {
    font-family: $secondary_font;
}
.breadcrumb-item a {
    text-decoration: none;
    color: grey;
}
#accommodations_content {
    @include title($primary_font);
    p {
        font-family: $secondary_font;
    }
    .card-text {
        font-family: $secondary_font;
    } 
    .card {
        border: 0.2px solid rgb(206, 203, 203);
        a {
            text-decoration: none;
            color: black;
        }
    }
    .card:hover {
        transform: translateY(3%);
        transition: 0.5s;
    }
}